.container{
    margin-top: 40px;
  }
  .row{
    padding-top:   12px;
    text-align: center;
  }
    
  .table{
      margin-top: 20px;
  }

  #form{
      padding-top: 12px;
      padding-bottom: 12px;
  }