<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Index</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/216_Microsoft_logo_logos-512.png" alt=""
            width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bulletins</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <a href="{{ url_for('classes',id=1) }}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark"
            aria-current="true">1er niveau</a>
          <li class="list-group-item d-flex justify-content-between align-items-center">nombre de garçons
            <span class="badge bg-danger rounded-pill">{{count["l1"][0]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">nombre de filles
            <span class="badge bg-danger rounded-pill">{{count["l1"][1]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">effectifs
            <span class="badge bg-success rounded-pill">{{count["l1"][0]+count["l1"][1]}}</span>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <a href="{{ url_for('classes',id=2) }}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark" aria-current="true">2eme
            niveau</a>
          <li
            class="list-group-item d-flex justify-content-between align-items-center d-flex justify-content-between align-items-center">
            nombre de garçons
            <span class="badge bg-danger rounded-pill">{{count["l2"][0]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">nombre de filles
            <span class="badge bg-danger rounded-pill">{{count["l2"][1]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">effectifs
            <span class="badge bg-success rounded-pill">{{count["l2"][0]+count["l2"][1]}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <a href="{{ url_for('classes',id=3) }}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark" aria-current="true">3eme
            niveau</a>
          <li class="list-group-item d-flex justify-content-between align-items-center">nombre de garçons
            <span class="badge bg-danger rounded-pill">{{count["l3"][0]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">nombre de filles
            <span class="badge bg-danger rounded-pill">{{count["l3"][1]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">effectifs
            <span class="badge bg-success rounded-pill">{{count["l3"][0]+count["l3"][1]}}</span>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <a href="{{ url_for('classes',id=4) }}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark" aria-current="true">4eme
            niveau</a>
          <li class="list-group-item d-flex justify-content-between align-items-center">nombre de garçons
            <span class="badge bg-danger rounded-pill">{{count["l4"][0]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">nombre de filles
            <span class="badge bg-danger rounded-pill">{{count["l4"][1]}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">effectifs
            <span class="badge bg-success rounded-pill">{{count["l4"][0]+count["l4"][1]}}</span>
          </li>
        </ul>
      </div>
    </div>  
  </div>
</body>

</html>